@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-@TempData["MessageType"] role="alert">
            @TempData["Message"]
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Vítejte, @User.Identity.Name</h1>
    }
    <h1 class="display-4">VIS-Projekt</h1>
    <p>Knihovna - ELL0014</p>
</div>
