@model Library.Web.Models.AuthModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Přihlášení</h1>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-@TempData["MessageType"] role="alert">
            @TempData["Message"]
        </div>
    }
    <form asp-action="Login" method="post">
        <div class="form-group row">
            <label asp-for="Username" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Username" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Přihlásit</button>
            </div>
        </div>
     </form>

</div>
